body {
  background:-webkit-linear-gradient(left,rgb(237,236,235),rgb(209,208,208));
}

.show_logo
{
  margin-top:30px;
  margin-left:50px;
}

.page
{
  margin-top:80px;
  margin-left:30px;
}

.page_button
{
  float:left;
  margin-left:10px;
  margin-top:200px;
}

#prev_page
{
  margin-top:30px;
}

.content
{
  font-size:20px;
  line-height:30px;
  font-family:微软雅黑;
  width:550px;
}

#container
{
  margin-left:100px;
  background:white;
  float:left;
  width:640px;
  text-align:center;
  margin-top:10px;
  z-index:3;
}

.title_line
{
  float:right;
  margin-top:30px;
}

.note
{
  position:relative;
  left:-100px;
  float:left;
}

.word
{
  font-family: "tahoma", "微软雅黑"; 
  font-size:9pt; 
  color: #716161; 
  display:inline;
}

#grey_tag
{
  position:relative;
  top:350px;
  left:-700px;
  z-index:-1;
}

#red_tag
{
  position:relative;
  top:150px;
  left:-780px;
  z-index:-1;
}


.show_button {
  position: relative;
  display: inline-block;

  min-width: 20px;
  height:150px;
  padding: 10px 15px;
  margin: 2px 2px;

  background-color:#F3F1F2;

  color: #C2C2C2;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  text-shadow: 0px -1px 0px rgba(228,228,228,0.5);

  border: 1px solid;
  border-color:#E4E4E4;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;

  -webkit-box-shadow: inset 0px -4px 5px rgba(228,228,228,0.2),
  inset 0px 1px 5px rgba(228,228,228,0.2),
  /**/
  0px 2px 0px #C2C2C2,
  0px 4px 0px #C2C2C2,
  0px 6px 0px #C2C2C2,
  /**/
  0px 5px 5px rgba(228,228,228,0.5);
}

.show_button:hover {
  background-color: #8AC5FD;

  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #FFFFFF),
  color-stop(0.49, #E1E1E1),
  color-stop(0.5, #E4E4E4),
  color-stop(1, #C2C2C2)
  );
}

.show_button:active {
  top: 4px;
  box-shadow: 		inset 0px 4px 5px rgba(228,228,228,0.4),
  inset 0px -1px 5px rgba(228,228,228,0.2),
  /**/
  0px 2px 0px #E4E4E4,
  /**/
  0px 4px 5px rgba(0,0,0,0.5);

  -webkit-box-shadow: inset 0px 4px 5px rgba(228,228,228,0.4),
  inset 0px -1px 5px rgba(228,228,228,0.2),
  /**/
  0px 2px 0px #E4E4E4,
  /**/
  0px 4px 5px rgba(228,228,228,0.5);
}
